<form class="usa-form" style="max-width: 100%"  (ngSubmit)="onSubmit()" [formGroup]="this.form">
  <fieldset class="usa-fieldset">
    <legend class="usa-legend usa-legend--large">
      Ingredients
    </legend>
    <p>
      Required fields are marked with an asterisk (<abbr
      title="required"
      class="usa-hint usa-hint--required"
    >*</abbr
    >).
    </p>

    <label class="usa-label" for="recipeName">Recipe name <abbr title="required" class="usa-hint usa-hint--required">*</abbr></label>
    <input class="usa-input" id="recipeName" name="recipeName" type="text" formControlName="name" required/>

    <div formArrayName="ingredients">
    @for (ingredient of ingredients.controls; track $index) {

      <div [formGroup]="getIngredientFormGroup($index)">
        <h3>Ingredient #{{$index + 1}}</h3>

        <label class="usa-label" for="ingredientName-{{$index}}">Name <abbr title="required" class="usa-hint usa-hint--required">*</abbr></label>
        <input class="usa-input" id="ingredientName-{{$index}}" name="ingredientName-{{$index}}" type="text" formControlName="name" required/>

        <label class="usa-label" for="price-{{$index}}">Price <abbr title="required"
                                                         class="usa-hint usa-hint--required">*</abbr></label>
        <div class="usa-input-group">
          <div class="usa-input-prefix" aria-hidden="true">
            $
          </div>
          <input
            id="price-{{$index}}"
            class="usa-input"

            inputmode="numeric"
            type="number"
            step="any"
            formControlName="price"
            required
          />
        </div>


        <label class="usa-label" for="quantity-{{$index}}">Total Quantity <abbr title="required" class="usa-hint usa-hint--required">*</abbr></label>
        <div class="usa-hint" id="quantityHint-{{$index}}">Unit agnostic. The number can be an amount in grams for example, or the number of items, etc.</div>
        <input class="usa-input" id="quantity-{{$index}}" name="quantity-{{$index}}" inputmode="numeric" type="number" formControlName="quantity" required/>

        <label class="usa-label" for="quantityUsed-{{$index}}">Quantity used <abbr title="required" class="usa-hint usa-hint--required">*</abbr></label>
        <div class="usa-hint" id="quantityUsedHint-{{$index}}">Use the same unit you used above.</div>
        <input class="usa-input" id="quantityUsed-{{$index}}" name="quantityUsed-{{$index}}" inputmode="numeric" type="number" formControlName="quantityUsed" required/>
      </div>
    }

    </div>

    <button class="usa-button" type="button" (click)="addIngredient()">
      Add ingredient
    </button>


    <label class="usa-label" for="servingSize">Serving size</label>
    <div class="usa-hint" id="servingSizeHint">Optional. Must be a fraction of the recipe, (<= 1.00)</div>
    <input class="usa-input" id="servingSize" name="servingSize" inputmode="numeric" type="number" formControlName="servingSize"/>

  </fieldset>
  <button [disabled]="!form.valid" class="usa-button" type="submit">
    Calculate the cost
  </button>
</form>
