<div class="grid-container-widescreen usa-section">

  @if (civicsTest) {
    <section class="grid-container usa-prose font-sans-sm">
      <h1 class="font-heading-xl margin-y-0">USA Civics Test</h1>
      <div>
        <h2>{{ civicsTest!.title }}</h2>

          <p>
            Listed below are the 128 civics questions and answers for the 2025 version of the civics test.
            These questions cover important topics about American government and history. The civics
            test is an oral test and the USCIS officer will ask you to answer up to 20 out of the 128 civics test
            questions. You must answer at least 12 questions correctly to pass the 2025 version
            of the civics test.</p>
          <p>
            On the civics test, some answers may change because of elections or appointments. Visit
            uscis.gov/citizenship/testupdates to find any answers that may have changed on the civics
            test. You must answer the question with the name of the official serving at the time of your
            naturalization interview.
          </p>

          <p>
            Although USCIS is aware that there may be additional correct answers to the civics questions,
            applicants are encouraged to respond to the questions using the answers provided below.
          </p>

          <h4>65/20 Special Consideration</h4>
          <p>
            If you are 65 years old or older and have been living in the United States as a lawful permanent
            resident of the United States for 20 or more years, you may study just the 20 questions that
            have been marked with an asterisk (*) found at the end of each question. You may also take
            the civics test in the language of your choice. The USCIS officer will ask you to answer 10 out of
            the 20 civics test questions with an asterisk. You must answer at least 6 out of 10 questions (or
            60%) correctly to pass the 2025 version of the civics test.
          </p>
        </div>


      </section>
      <section class="grid-container usa-section grid-row">
        <div>
          <fieldset class="usa-fieldset">
            <legend class="usa-legend font-heading-lg" style="max-width: 100%">
              Are you 65 years old or older and have you been living in the United States as a lawful permanent resident
              of the United States for 20 or more years?
            </legend>
            <div class="usa-radio">
              <input
                class="usa-radio__input"
                id="no"
                type="radio"
                name="is65"
                [value]="false"
                [formControl]="is65and20FormControl"
                checked="checked"
              />
              <label class="usa-radio__label" for="no">
                No
              </label>
            </div>
            <div class="usa-radio">
              <input
                class="usa-radio__input"
                id="yes"
                type="radio"
                name="is65"
                [value]="true"
                [formControl]="is65and20FormControl"
                value="frederick-douglass"
              />
              <label class="usa-radio__label" for="yes">
                Yes
              </label>
            </div>

          </fieldset>
        </div>
      </section>
      <section>
        <app-questionnaire class="grid-row padding-y-3 grid-gap" [questionnaire]="questionnaire"></app-questionnaire>
      </section>
    } @else {
      ...loading
    }
</div>
