<section class="grid-container usa-section">
  <div class="grid-row usa-prose font-sans-sm">
    <h1>About / Legal</h1>
    <p class="usa-intro">
      This website was created by Ugo Costantini, and uses the <a class="usa-link" href="https://designsystem.digital.gov/"
                                                                  >U.S. Web Design System (USWDS)</a>.
      It is an independent project and is not endorsed by, affiliated with or supported by USDS or GSA in any way.
    </p>
    <div class="border-top border-base-lighter margin-top-3 padding-top-1">
      <h2>What has changed?</h2>
      <p>
        All official government logos, coats of arms, and any restricted typefaces have been removed
        or replaced. This site does not attempt to impersonate any official Government service.
      </p>
      <p>
        For questions about licensing or attributions, please contact: <a class="usa-link" href="mailto:cynthiaspyderwyck@gmail.com"
                                                                          rel="contact">cynthiaspyderwyck@gmail.com</a>.
      </p>
      </div>
    </div>
</section>

