<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">About / Legal</h1>
    <p class="govuk-body-lead">
      This website was created by Ugo Costantini, and uses the <a class="govuk-link" href="https://design-system.service.gov.uk/"
                                                                  rel="gds">GOV.UK
      Design System</a>.
      It is an independent project and is not endorsed by, affiliated with or supported by HM Government in any way.
    </p>
    <p class="govuk-body">
      All official government logos, coats of arms, the GOV.UK logotype, and any restricted typefaces have been removed
      or replaced. This site does not attempt to impersonate any official HM Government service.
    </p>
    <p class="govuk-body">
      For questions about licensing or attributions, please contact: <a class="govuk-link" href="mailto:cynthiaspyderwyck@gmail.com"
                                                                        rel="contact">cynthiaspyderwyck@gmail
      .com</a>.
    </p>
  </div>
</div>

