<div class="bg-base-lightest">
  <section class="grid-container-widescreen usa-section">

    <h2 class="font-heading-xl margin-y-0">Product nutrition facts comparison tool</h2>

    <p class="usa-intro">Compare the calories and proteins of your products by normalising their unit of measure and
      price</p>

    <div class="usa-alert usa-alert--info usa-alert--no-icon">
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          Units of measurement do not matter for calculation. $ and grams are only used as a reference.
        </p>
      </div>
    </div>
    <div class="grid-row padding-y-3">
      <div class="grid-col-4 bg-white padding-y-3 padding-x-5 border border-base-lighter">
        <app-product-form [product]="selectedProduct()" (submitEvent)="onProductAdd($event)"></app-product-form>
      </div>
      <div class="grid-col-8 padding-x-5 ">
        <div class="usa-table-container--scrollable" tabindex="0">
          <table class="usa-table usa-table--borderless">
            <caption>
              Products comparison
            </caption>
            <thead>
            <tr>
              <th data-sortable scope="col" role="columnheader">Name</th>
              <th data-sortable scope="col" role="columnheader">Calories per 100g</th>
              <th data-sortable scope="col" role="columnheader">Protein (g) per 100g</th>
              <th data-sortable scope="col" role="columnheader">Calories per $</th>
              <th data-sortable scope="col" role="columnheader">Protein (g) per $</th>
              <th class="text-center" scope="col" role="columnheader"><svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use href="/assets/uswds/img/sprite.svg#edit"></use>
              </svg></th>
              <th class="text-center" scope="col" role="columnheader"><svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use href="/assets/uswds/img/sprite.svg#delete"></use>
              </svg></th>
            </tr>
            </thead>
            <tbody>
              @for (product of products.entries(); track product[0]) {
                <tr>
                  <th scope="row">
                    {{ product[0] }}
                  </th>
                  <td class="font-mono-sm text-tabular">
                    {{ (product[1] | normalizeProduct).caloriesPer100g }}
                  </td>
                  <td class="font-mono-sm text-tabular">
                    {{ (product[1] | normalizeProduct).proteinsPer100g }}
                  </td>
                  <td class="font-mono-sm text-tabular">
                    {{ (product[1] | normalizeProduct).caloriesPerCurrency }}
                  </td>
                  <td class="font-mono-sm text-tabular">
                    {{ (product[1] | normalizeProduct).proteinsPerCurrency }}
                  </td>
                  <td>
                    <button class="usa-button usa-button--accent-cool" (click)="onEditProduct(product[0])" type="button" style="margin-bottom: 0;">Edit</button>
                  </td>
                  <td>
                  <button class="usa-button usa-button--secondary" (click)="onDeleteProduct(product[0])" type="button" style="margin-bottom: 0;">Delete</button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
          <div
            class="usa-sr-only usa-table__announcement-region"
            aria-live="polite"
          ></div>
        </div>
      </div>
    </div>



  </section>
</div>
