<div class="grid-row">
@if (question && result) {
      <label class="usa-label" for="answer-{{result.id}}">
        {{result.noQuestion}}. {{question}} @if(result.is65and20) { <b>*</b> } (Q. {{result.id}} of 128)
      </label>
      @if (!details!.isVariableAnswer) {
        <input [formControl]="answer" class="usa-input" id="answer-{{result.id}}" name="answer-{{result.id}}" type="text" />
      } @else {
        <div class="usa-alert usa-alert--info usa-alert--no-icon">
          <div class="usa-alert__body">
            <p class="usa-alert__text">
              {{details!.answers[0]}}
            </p>
          </div>
        </div>
      }

  <div class="grid-col-6 padding-y-3">
    @if (!details!.isVariableAnswer) {
      <button class="usa-button" (click)="onSubmit()">
        Check answers
      </button>
    }
  </div>
  <div class="grid-col-6 padding-y-3">
    @if (acceptableAnswers) {
      @if (answerResult?.status === 'ISSUED') {
        <span class="usa-tag bg-green">Correct</span>
      } @else {
        <span class="usa-tag bg-red">Wrong</span>
      }
    } @else {
      <span class="usa-tag">Not answered yet</span>
    }
  </div>
}

@if (acceptableAnswers) {
  <table class="usa-table usa-table">
    <caption>
      Accepted answers
    </caption>
    <tbody>
      @for (answer of acceptableAnswers; track answer.candidateIndex) {
        <tr>
          <th scope="row">{{answer.candidateText}}</th>
          <td>
            @if (answer.score < this.answerMatcher.getLowThreshold()) {
              <span class="usa-tag bg-red">Unmatch</span>
            } @else if (answer.score < this.answerMatcher.getHighThreshold()) {
              <span class="usa-tag bg-orange">Possible match</span>
            } @else {
              <span class="usa-tag bg-green">Match</span>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
}
</div>
