<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Welcome !</h1>
    <p class="govuk-body">
      You can choose a tool from the menu above, or below:
    </p>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l govuk-!-font-weight-bold">Nutrition comparison</h2>
        <p class="govuk-body">Compare the calories and proteins of your products by normalising their unit of measure and price.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a routerLink="/nutrition" class="govuk-link govuk-!-font-weight-bold">Compare my products</a></p>
      </div>
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l govuk-!-font-weight-bold">Best location</h2>
        <p class="govuk-body">Want to know the best place to live in Italy ? Use this tool to find out.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a routerLink="/best-location" class="govuk-link govuk-!-font-weight-bold">Best location to live in</a></p>
      </div>
  </div>
</div>
