<section class="grid-container usa-section">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Welcome !</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>This website is for my own personal use but I thought I could make it public just in case people thought the tools available could be useful. </p>
      <p>The available tools are completely random, and were created only to serve a unique need I had at the time.</p>
    </div>
  </div>
</section>
<section class="usa-section usa-section--dark">
  <div class="grid-container">
    <div class="paragraph paragraph--type--uswds-card-container">
      <ul class="usa-card-group">

        <li class="tablet:grid-col-4 usa-card  show-button">
          <div class="usa-card__container  border-accent-cool-darker" style="background-color: #005288;">
            <header class="usa-card__header">
              <h3 class="usa-card__heading" style="color: white">
                Nutrition comparison
              </h3>
            </header>
            <div class="usa-card__body">
              <p>
                Compare the calories and proteins of your products by normalizing their unit of measure and price.
              </p>
            </div>
            <div class="usa-card__footer">
              <a routerLink="/nutrition" class="card-link linkonly survey-processed">
                  <span class="usa-button">
                    Compare products
                  </span>
              </a>
            </div>
          </div>
        </li>
        <li class="tablet:grid-col-4 usa-card  show-button">
          <div class="usa-card__container  border-accent-cool-darker" style="background-color: #005288;">
            <header class="usa-card__header">
              <h3 class="usa-card__heading text-white" style="color: white">
                Recipe cost calculator
              </h3>
            </header>
            <div class="usa-card__body">
              <p>
                Calculate how much a recipe cost you to prepare.
              </p>
            </div>
            <div class="usa-card__footer" style="margin-top: auto;">
              <a routerLink="/recipe-cost" class="card-link linkonly survey-processed">
                  <span class="usa-button">
                    Calculate cost
                  </span>
              </a>
            </div>
          </div>
        </li>
        <li class="tablet:grid-col-4 usa-card  show-button">
          <div class="usa-card__container  border-accent-cool-darker" style="background-color: #005288;">
            <header class="usa-card__header">
              <h3 class="usa-card__heading" style="color: white">
                USA Naturalization Civics Test
              </h3>
            </header>
            <div class="usa-card__body">
              <p>
                Test your knowledge on the USA by answering 20 civics questions.
              </p>
            </div>
            <div class="usa-card__footer" style="margin-top: auto;">
              <a routerLink="/usa-civics-test" class="card-link linkonly survey-processed">
                  <span class="usa-button">
                    Test my knowledge
                  </span>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>
<section id="test-section-id" class="usa-section">
  <div class="grid-container">
    <h2 class="font-heading-xl margin-y-0">Why this website ? </h2>
    <p class="usa-intro">Because most websites available on the Internet are either way too complex, or filled with ads or just a bunch of bull#?#! that adds no value. This website aims to provide the same tools, without fluff.
    </p>
    <a class="usa-button usa-button--big" routerLink="/about" >About this website</a>
  </div>
</section>
