.govuk-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.govuk-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  flex-grow: 1;
  height: 4px;
  background: #b1b4b6; /* govuk-colour("light-grey") */
}

/*
 * Slider Thumb - Webkit
 */
.govuk-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  margin-top: 0; /* Vertically centre */
  background: #1d70b8; /* govuk-colour("blue") */
  border-radius: 50%;
  border: 2px solid #1d70b8;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

/*
 * Slider Thumb - Firefox
 */
.govuk-slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #1d70b8; /* govuk-colour("blue") */
  border-radius: 50%;
  border: 2px solid #1d70b8;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

/*
 * Focus State - GDS Standard
 */
.govuk-slider:focus {
  outline: 3px solid #fd0; /* govuk-colour("yellow") */
  outline-offset: 2px;
}

.govuk-slider:focus::-webkit-slider-thumb {
  background: #0b0c0c; /* govuk-colour("black") */
  border-color: #fd0; /* govuk-colour("yellow") */
}

.govuk-slider:focus::-moz-range-thumb {
  background: #0b0c0c; /* govuk-colour("black") */
  border-color: #fd0; /* govuk-colour("yellow") */
}

.govuk-slider__value {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  color: #0b0c0c;
  margin-top: 10%;
}
