<form class="usa-form" style="max-width: 100%" (ngSubmit)="onSubmit()" [formGroup]="this.form">
  <fieldset class="usa-fieldset">
    <legend class="usa-legend usa-legend--large">
      Product facts
    </legend>
    <p>
      Required fields are marked with an asterisk (<abbr
      title="required"
      class="usa-hint usa-hint--required"
    >*</abbr
    >).
    </p>

    <label class="usa-label" for="name">Name <abbr title="required" class="usa-hint usa-hint--required">*</abbr></label>
    <input class="usa-input" id="name" name="name" type="text" formControlName="name" required/>

    <label class="usa-label" for="price">Price <abbr title="required"
                                                     class="usa-hint usa-hint--required">*</abbr></label>
    <div class="usa-input-group">
      <div class="usa-input-prefix" aria-hidden="true">
        $
      </div>
      <input
        id="price"
        class="usa-input"

        inputmode="numeric"
        type="number"
        step="any"
        formControlName="price"
        required
      />
    </div>

    <label class="usa-label" for="weight">Weight, in grams</label>
    <div class="usa-input-group">
      <input
        id="weight"
        class="usa-input"

        inputmode="numeric"
        type="number"
        step="any"
        formControlName="weight"
      />
      <div class="usa-input-suffix" aria-hidden="true">
        g.
      </div>
    </div>

    <label class="usa-label" for="serving-size">Serving size, in grams</label>
    <div class="usa-input-group">
      <input
        id="serving-size"
        class="usa-input"

        inputmode="numeric"
        type="number"
        step="any"
        formControlName="servingSize"
      />
      <div class="usa-input-suffix" aria-hidden="true">
        g.
      </div>
    </div>

    <label class="usa-label" for="amount-calories">Calories per serving</label>
    <input class="usa-input" id="amount-calories" name="amount-calories"  inputmode="numeric"
           type="number"
           step="any"
           formControlName="calories"
    />


    <label class="usa-label" for="amount-proteins">Protein per serving, in grams</label>
    <div class="usa-input-group">
      <input
        id="amount-proteins"
        class="usa-input"

        inputmode="numeric"
        type="number"
        step="any"
        formControlName="proteins"
      />
      <div class="usa-input-suffix" aria-hidden="true">
        g.
      </div>
    </div>

  </fieldset>
  <button [disabled]="!form.valid" class="usa-button" type="submit">
    Add product to the list
  </button>
</form>
