@if(questionnaire) {
    <div class="grid-col-6">
      @for (thematic of questionnaire.entries(); track thematic[0]) {
        <h2>{{thematic[0]}}</h2>
        <div class="usa-accordion usa-accordion--bordered">
          @for (subThematic of thematic[1].entries(); track subThematic[0]) {
            <h4 class="usa-accordion__heading">
              <button
                type="button"
                class="usa-accordion__button"
                aria-expanded="false"
                [attr.aria-controls]="'a-' + subThematic[0]"
              >
                {{subThematic[0]}}
              </button>
            </h4>
            <div id="a-{{subThematic[0]}}" class="usa-accordion__content" hidden>
              @for (question of subThematic[1].entries(); track question[0]) {
                <app-question [question]="question[0]" [details]="question[1]" [result]="getQuestionResultById(question[1].id)" (answerResultEmitter)="onAnswerMatch($event)"></app-question>
              }
            </div>
          }
        </div>
      }
    </div>

    @if(questionnaireResult) {
      <div class="grid-col-6">
        <h4>
          {{getNoAnsweredQuestions()}} completed answers / {{getNoQuestions()}} questions
        </h4>
        <h4>
          {{getNoCorrectAnswers()}} correct answers / {{Math.trunc(getNoQuestions() * 0.6)}} required
        </h4>
        <h4>
          {{getNoWrongAnswers()}} wrong answers / {{Math.trunc(getNoQuestions() * 0.4) + 1}} maximum
        </h4>
        <table class="usa-table usa-table--borderless">
          <tbody>
            @for (answer of questionnaireResult.answers; track answer) {
              <tr>
                <th scope="row">#{{answer.noQuestion}}</th>
                <td>{{answer.question}}</td>
                <td>
                  @if (answer.status === 'REFUSED') {
                    <span class="usa-tag bg-red">Wrong</span>
                  } @else if (answer.status === 'READY') {
                    <span class="usa-tag" style="white-space: nowrap">Standby</span>
                  } @else if (answer.status === 'ISSUED') {
                    <span class="usa-tag bg-green">Correct</span>
                  } @else if (answer.status === 'IGNORED') {
                    <span class="usa-tag bg-blue">N/A</span>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
}

