/* You can add global styles to this file, and also import other style files */
$govuk-assets-path: "/assets/";
$govuk-font-family: "Helvetica", arial, sans-serif;
$govuk-include-font-face: false;


// Your app styles last
@use "index";
