<div class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <main class="" id="main-content">
        <div class="usa-prose">
          <h1>Page not found</h1>
          <p class="usa-intro">We’re sorry, we can’t find the page you're looking for. The site administrator may have removed it, changed its location, or made it otherwise unavailable.</p>

          <p>If you typed the URL directly, check your spelling and capitalization. Our URLs look like this: <strong>cosugo.com/example</strong>.</p><p>Visit our homepage for helpful tools and resources, or contact us and we’ll point you in the right direction.</p>

          <div class="margin-y-5">
            <ul class="usa-button-group">
              <li class="usa-button-group__item">
                <a routerLink="/" class="usa-button">
                  Visit homepage
                </a>
              </li>
              <li class="usa-button-group__item">
                <a routerLink="/about" class="usa-button usa-button--outline" type="button">
                  About
                </a>
              </li>
            </ul>
          </div>

          <p>Actions you can take:</p>
          <ul>
            <li>
              <a href="mailto:cynthiaspyderwyck@gmail.com" class="usa-link">Email us</a>
            </li>
            <li>
              <a href="https://github.com/ucostantini/cosugo-com" class="usa-link">Open an issue on Github</a>
            </li>
          </ul>

          <p class="text-base"><strong>Error code:</strong> 404</p>
        </div>
      </main>
    </div>
  </div>
</div>
