<form (ngSubmit)="onSubmit()" [formGroup]="this.form">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Specify the facts of the product
      </h1>
    </legend>
    <div class="govuk-form-group">
      <label class="govuk-label" for="name">
        Name of the product
      </label>
      <input autocomplete="name" class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" formControlName="name" id="name"
             name="name" required spellcheck="false" type="text">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="price">
        Price of the product
      </label>
      <div class="govuk-hint" id="price-hint">
        Must be a whole number
      </div>
      <input aria-describedby="price-hint" class="govuk-input govuk-input--width-3 govuk-input--extra-letter-spacing" formControlName="price" id="price"
             inputmode="numeric" name="price" required spellcheck="false" step="1"
             type="number">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="serving-size">
        Serving size of the product, in grams
      </label>
      <div class="govuk-hint" id="serving-size-hint">
        Must be a whole number
      </div>
      <div class="govuk-input__wrapper">
        <input aria-describedby="serving-size" class="govuk-input govuk-input--width-3 govuk-input--extra-letter-spacing" formControlName="servingSize"
               id="serving-size" inputmode="numeric" name="servingSize" required spellcheck="false"
               step="1" type="number">
        <div aria-hidden="true" class="govuk-input__suffix">g</div>
      </div>
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="amount-calories">
        Amount of calories per serving
      </label>
      <div class="govuk-hint" id="amount-calories-hint">
        Must be a whole number
      </div>
      <input aria-describedby="amount-calories" class="govuk-input govuk-input--width-3 govuk-input--extra-letter-spacing" formControlName="calories"
             id="amount-calories" inputmode="numeric" name="amountCalories" required spellcheck="false"
             step="1" type="number">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="amount-proteins">
        Amount of proteins per serving, in grams
      </label>
      <div class="govuk-hint" id="amount-calories-hint">
        Must be a whole number
      </div>
      <div class="govuk-input__wrapper">
        <input aria-describedby="amount-calories" class="govuk-input govuk-input--width-3 govuk-input--extra-letter-spacing" formControlName="proteins"
               id="amount-calories" inputmode="numeric" name="amountCalories" required spellcheck="false"
               step="1" type="number">
        <div aria-hidden="true" class="govuk-input__suffix">g</div>
      </div>
    </div>
  </fieldset>
  <button [disabled]="!form.valid" class="govuk-button" data-module="govuk-button" type="submit">
    Add product to the list
  </button>
</form>
